/* page layout*/
.container {
  display: grid;
}

/* main body */
.main {
  grid-row-start: 2;
  grid-column-start: 2;
  display: inline-grid;
  gap: 10px;
}

/* elements */
.content {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 225px;
}

.header {
  grid-area: header;
  background-color: #f4a2a2;
  min-height: 100px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.kicker {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  font-size: 1rem;
}

.headlineGroup {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 32px 0px 16px 0px;
}

.headline {
  padding: 0px 0px 16px;
}

.subhead {
  color: #666;
  font-weight: 300;
  font-size: 1.25rem;
}

.article {
  grid-area: article;
  background-color: #effaed;
  min-height: 300px;

  display: inline-grid;
  grid-template-columns: 1fr repeat(4, minmax(auto, 160px)) 1fr;
}

.article .bodyText {
  grid-column: 2/6;
}

.ledeart {
  grid-area: ledeart;
  background-color: #b5d8af;
  min-height: 400px;
}

.rail {
  grid-area: adrail;
  background-color: #a2c8f4;
}

.footer {
  grid-area: footer;
  background-color: #e5bfe9;
  min-height: 300px;
}

.inlineImg {
  background-color: lightgray;
  aspect-ratio: 3/2;
  width: 100%;
  grid-auto-flow: column;
}

.article .leftImg {
  grid-column: 4/1;
  justify-self: end;
  margin-right: 6px;
}

.article .rightImg {
  grid-column: 4/-1;
  justify-self: start;
  margin-left: 6px;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns:
      minmax(64px, auto)
      minmax(auto, 1100px)
      minmax(64px, auto);
  }

  .standard {
    grid-template-columns: repeat(4, 1fr) 300px;
    grid-template-areas:
      "header header header header header"
      "article article article article adrail"
      "footer footer footer footer footer";
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "ledeart"
      "article"
      "footer";
  }

  .inlineImg {
    max-width: 500px;
  }
}

/* tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    grid-template-columns:
      minmax(48px, auto)
      minmax(auto, 800px)
      minmax(48px, auto);
  }

  .standard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "footer";
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "ledeart"
      "article"
      "footer";
  }

  .rail {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  /* percentage based */
  .container {
    grid-template-columns:
      minmax(5vw, auto)
      minmax(auto, 90vw)
      minmax(5vw, auto);
  }

  .standard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "footer";
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "ledeart"
      "article"
      "footer";
  }

  .article .leftImg {
    grid-column: 2/6;
    justify-self: center;
    margin: 10px 0;
  }

  .article .rightImg {
    grid-column: 2/6;
    justify-self: center;
    margin: 10px 0;
  }

  .rail {
    display: none;
  }
}
