/* page layout*/
.container {
  display: grid;
}

/* main body */
.main {
  grid-row-start: 2;
  grid-column-start: 2;
  display: inline-grid;
  gap: 10px;
}

/* elements */
.content {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  min-width: 225px;
}

.header {
  grid-area: header;
  background-color: #f4a2a2;
  min-height: 100px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.article {
  grid-area: article;
  background-color: #c5e9bf;
  min-height: 300px;
}

.ledeart {
  grid-area: ledeart;
  background-color: #b5d8af;
  min-height: 500px;
}

.rail {
  grid-area: adrail;
  background-color: #a2c8f4;
}

.footer {
  grid-area: footer;
  background-color: #e5bfe9;
  min-height: 300px;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns:
      minmax(64px, auto)
      minmax(auto, 1100px)
      minmax(64px, auto);
  }

  .standard {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "header header header header header"
      "article article article article adrail"
      "footer footer footer footer footer";
  }

  .center {
    grid-template-columns: 1fr minmax(auto, 640px) 1fr;
    grid-template-areas:
      "header header header"
      "ledeart ledeart ledeart"
      ". article ."
      "footer footer footer";
  }
}

/* tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    grid-template-columns:
      minmax(48px, auto)
      minmax(auto, 800px)
      minmax(48px, auto);
  }
  .standard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "footer";
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "ledeart"
      "article"
      "footer";
  }

  .rail {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  /* percentage based */
  .container {
    grid-template-columns:
      minmax(5vw, auto)
      minmax(auto, 90vw)
      minmax(5vw, auto);
  }

  .standard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "footer";
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "ledeart"
      "article"
      "footer";
  }

  .content {
    padding: 5vw 10vw;
  }

  .rail {
    display: none;
  }
}
